/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root {
  --ukg-brand: #0e2a47;
  --ukg-brand-darker: #0e2a47;

  --ukg_sys_color_buttonBg_highEmphasis_enabled: var(--ukg-brand);
  --ukg_sys_color_buttonBg_highEmphasis_hover: var(--ukg-brand-darker);
  --ukg_sys_color_buttonBorder_midEmphasis_enabled: var(--ukg-brand);
  --ukg_sys_color_buttonText_midEmphasis_enabled: var(--ukg-brand);
  --ukg_sys_color_buttonText_midEmphasis_hover: var(--ukg-brand-darker);
}