@import '../../global/app.scss';

header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

.ukg-nav-header {
  align-self: flex-start;
}

.header-extension {
  margin-top: -1px;
  background-color: var(--ukg-brand);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  color: $ukg-brand-contrast;

  h2, p {
    color: $ukg-brand-contrast;
    padding-left: 1.5rem;
  }

  p {
    margin-top: 0;
  }
}