// Host styles
.proposal-card {
  display: block;
  min-width: 100%;
  height: 100%;

  // card component internal parts
  .ukg-card-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    ukg-card-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.progress-bar {
  align-items: center;
  display: flex;
  
  ukg-progress-minimal {
    margin-right: 2rem;
  }
}

.description {
flex-grow: 1;
}